@model Bangazon.Models.ProductViewModels.ProductSearchViewModel
@*author Kayla Reid
    purpose to show products the user searched for*@
@{
    ViewData["Title"] = "SearchResults";
}

<h2>Search Results for "@Model.Search"</h2>
<hr />

@if (Model.Products.Count() == 0)
{
    <p>No Products match "@Model.Search"</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Product Type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                       <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="ProductTypes" asp-route-id="@item.ProductTypeId">@Html.DisplayFor(modelItem => item.ProductType.Label)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}