@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Shopping Cart</h2>

@foreach (var item in Model)
{
    <h3>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)'s Cart</h3>
    <div>
        <div class="btn btn-default pull-right">
            <a asp-area="" asp-controller="PaymentTypes" asp-action="SelectPaymentType" asp-route-id="@item.OrderId">Complete Order</a>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Items</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @foreach (var op in item.OrderProducts)
                    {
                        <div>
                            <p><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@op.ProductId">@op.Product.Title</a></p>
                        </div>
                    }
                </td>
                <td>
                    @foreach (var op in item.OrderProducts)
                    {
                        <div>
                            <p>@string.Format("{0:C}", op.Product.Price)</p>
                        </div>
                    }
                </td>
                <td>
                    @foreach (var op in item.OrderProducts)
                    {
                        <div>
                            <p><a asp-area="" asp-controller="Orders" asp-action="DeleteFromCart" asp-route-id="@op.OrderProductId">Delete</a></p>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
