@model Bangazon.Models.ProductTypeViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "Types";
}

<h2>Product Types</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">


    <tbody>

        @foreach (var key in Model.GroupedProducts)
        {

            <tr>

                <td>
                    <h4>
                        <a asp-action="Details" asp-route-id="@key.TypeId">@key.TypeName (@key.ProductCount)</a>
                    </h4>
                    @foreach (var item in key.Products)
                    {
                    <div>
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">@item.Title</a>

                    </div>
                   



            }


                    </td>
                    </tr>


                }

    </tbody>
</table>