@model Bangazon.Models.ProductTypeViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "Types";
}

<h2>Product Types</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">


    <tbody>

        @foreach (GroupedProducts key in Model.GroupedProducts)
        {

            <tr>

                <td>
                    <a asp-action="Details" asp-route-id="@key.TypeId">@key.TypeName (@key.ProductCount)</a>
                    
                        @foreach (Product item in key.Products)
                        {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">@item.Title</a>


                    </td>
                </tr>



            }

                        
                        </td>
                        </tr>


                    }

    </tbody>
</table>